<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>评论列表</title>
  <link rel="stylesheet" href="js/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/iconfont.css">
  <link rel="stylesheet" href="css/main.css"><!-- 引入分页插件 pagination 的js文件 -->
</head>

<body>
  <div class="container-fluid">
    <div class="common_title">
      评论列表
    </div>
    <div class="container-fluid common_con">
      <table class="table table-striped table-bordered table-hover mp20">
        <thead>
          <tr>
            <th>作者</th>
            <th>评论</th>
            <th>评论在</th>
            <th>提交于</th>
            <th>状态</th>
            <th class="text-center" width="100">操作</th>
          </tr>
        </thead>
        <tbody id="commentBox">

        </tbody>
      </table>

      <div class="row text-center">
        <ul class="pagination pagination-sm">
          <li class="page-item first disabled"><a href="#" class="page-link">首页</a></li>
          <li class="page-item prev disabled"><a href="#" class="page-link">上一页</a></li>
          <li class="page-item active"><a href="#" class="page-link">1</a></li>
          <li class="page-item"><a href="#" class="page-link">2</a></li>
          <li class="page-item"><a href="#" class="page-link">3</a></li>
          <li class="page-item"><a href="#" class="page-link">4</a></li>
          <li class="page-item"><a href="#" class="page-link">5</a></li>
          <li class="page-item"><a href="#" class="page-link">6</a></li>
          <li class="page-item"><a href="#" class="page-link">7</a></li>
          <li class="page-item next"><a href="#" class="page-link">下一页</a></li>
          <li class="page-item last"><a href="#" class="page-link">尾页</a></li>
        </ul>
      </div>

    </div>
  </div>

  <script src="js/jquery-1.12.4.min.js"></script>
  <script src="../js/template-web.js"></script>
  <script src="./js/jquery.twbsPagination.js"></script>
  <script type="text/html" id="commentListTpl">
    <% for (var i=0;i<data.length;i++){ %>
      <tr>
          <td><%= data[i].author %></td>
          <td><%= data[i].content %></td>
          <td><%= data[i].title %></td>
          <td><%= data[i].date %>  <%= data[i].time %></td>

          <!-- //文章评论状态的功能 -->
          
          <td><%= data[i].state %></td>
          <!-- //文章评论状态的功能 -->


          <td class="text-center" id="CommentBox">          
           <% if(data[i].state=="已拒绝"){ %>       
              <a href="javascript:;" class="btn btn-primary btn-xs" data-id="<%= data[i].id %>" id="agreeComment">同意</a>
           <% }else{ %>          
              <a href="javascript:;" class="btn btn-warning btn-xs" data-id="<%= data[i].id %>" id="rejectComment">拒绝</a>              
           <% } %>          
            <a href="javascript:;" class="btn btn-danger btn-xs delete" data-id="<%= data[i].id %>">删除</a>
          </td>
        </tr>
      <% } %>
  </script>
  <script>
    // 设置左侧菜单
    $('#release_btn').click(function () {
      window.parent.setMenu(0, 0);
    })
  </script>
  <script type="text/html" id="CommentScript">
    
  </script>
  <!-- 业务逻辑代码 -->
  <script>
    $(function () {

      //获取所有的文章评论并且展示到页面中

      $.ajax({
        url: 'http://47.111.184.55:8888/api/v1/admin/comment/search',
        type: 'get',
        success: function (data) {
          console.log(data);
          var html = template('commentListTpl', { data: data })
          $('#commentBox').html(html)
          // console.log(html)
        }
      })


      //文章评论的删除功能 ----
      $('#commentBox').on('click', '.delete', function () {
        var id = $(this).attr('data-id');
        console.log(id);
        if (confirm('确定残忍删除?')) {
          $.ajax({
            url: 'http://47.111.184.55:8888/api/v1/admin/comment/delete',
            type: 'post',
            data:{id:id},
            success: function (res) {
              console.log(res);
              console.log('.....');
              location.reload();
            }
          })
        }

      })

      //不通过审核文章评论
      $('#commentBox').on('click','#agreeComment',function(){
        var id=$(this).attr('data-id');
          if(confirm('确定审核通过这条评论?')){
            $.ajax({
              url:'http://47.111.184.55:8888/api/v1/admin/comment/pass',
              data:{id:id},
              type:'post',
              success:function(res){
                console.log(res.msg);
                 location.reload();
                 //var html=template('CommentScript',res)
              }

            })
          }
          return false
      })


      //通过审核文章评论
      $('#commentBox').on('click',"#rejectComment",function(){
          var id = $(this).attr('data-id');
          if(confirm('确定审核不通过这条评论?')){
            $.ajax({
              url:'http://47.111.184.55:8888/api/v1/admin/comment/reject',
              data:{id:id},
              type:'post',
              success:function(res){
                console.log(res.msg);
                 location.reload();
              }

            })
          } 
          return false;      
      })

    })

  </script>
</body>

</html>